// Variables
$accent-color: #fcbb08;
$default-color: #373a39;
$title-color: #242121;
$bg-color: #f6f8fa;

%mw {
  font-family: "Merriweather-italic", sans-serif;
  font-weight: 300;
  font-style: italic;
}

%m500 {
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 500;
}

%m700 {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 700;
}

%o300 {
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 300;
}

%o400 {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
}

%r700 {
  font-family: "Raleway-SemiBold", sans-serif;
  font-weight: 700;
}
