.header {
  &__inner {
    position: relative;
    margin: 60px auto 0;
    max-width: 1920px;
    max-height: 700px;
  }

  &__content {
    position: absolute;
    left: 10%;
    top: 20%;
    z-index: 2;
  }

  &__title {
    margin: auto 0;
    margin-bottom: 5px;
    font-size: 72px;
    line-height: 88px;
    text-shadow: 1px 2px 2px $title-color;
    color: #000;
    @extend %m500;
  }

  &__subtitle {
    display: block;
    margin: 0 0 60px 150px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-shadow: 1px 2px 2px $title-color;
    color: #fcbb08;
    @extend %m700;
  }

  &__pic {
    margin: 0 auto;
    width: 1920px;
    height: 1000px;
    object-fit: cover;
  }
}

.menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  height: 60px;
  background-color: #fff;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    border-bottom: 1px solid transparent;
    padding: 5px 0;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #373a39;
    transition: all 0.5s;

    &:hover {
      border-color: $accent-color;
    }
    @extend %r700;
  }

  &__btn {
    display: none;
    @include mq("768") {
      display: block;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  margin: auto 0;
  min-height: 40px;
  max-width: 170px;

  &__item:not(:last-child) {
    margin-right: 15px;
  }

  &__link {
    font-size: 18px;
    color: $title-color;

    &:hover {
      svg {
        background-color: $bg-color;
      }
    }

    svg {
      width: 30px;
      height: 30px;
      transition: background-color 0.6s;
    }
  }
}
