.menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  height: 60px;
  background-color: rgba(226, 226, 226, 0.9);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    @include mq("768") {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 100;
      flex-direction: column;
      align-items: flex-start;
      min-width: 45%;
      min-height: 100vh;
      max-width: 400px;
      box-shadow: rgba(0, 0, 0, 0.8);
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.4s, visability 0.4s;
    }

    &.menu__nav--active {
      @include mq("768") {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__list {
    display: flex;

    &--dropdown {
      position: absolute;
      right: 0;
      top: 100%;
      display: block;
      padding: 30px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      @include mq("768") {
        display: none;
      }
    }
  }

  &__item {
    position: relative;
    @include mq("768") {
      &:first-child {
        margin-top: 50px;
      }
    }

    &:hover {
      .menu__list--dropdown {
        opacity: 1;
        visibility: visible;
        transition: all 0.4s;
      }

      .menu__link--drop::after {
        transform: rotate(180deg);
        transition: tranform 0.4s;
      }
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    @include txt(1);
    display: block;
    border-bottom: 1px solid transparent;
    padding: 5px 0;
    max-width: 200px;
    max-height: 20px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #373a39;
    transition: all 0.5s;
    @include mq("768") {
      margin-bottom: 15px;
      border-bottom: 1px solid #bfbfbf;
      padding: 20px 15px;
      min-width: 280px;
      font-size: 18px;
      text-align: center;
    }

    &--drop::after {
      @include pseudo();
      @include bg();
      right: -15px;
      top: 5px;
      width: 10px;
      height: 10px;
      background-image: url("../images/dest/arr.svg");
      transition: transform 0.4s;
      @include mq("768") {
        display: none;
      }
    }

    &:hover {
      border-color: $accent-color;
    }
    @extend %r700;
  }

  &__burger {
    position: relative;
    display: none;
    border: none;
    width: 40px;
    height: 22px;
    background-color: transparent;
    transition: transform 0.4s;
    cursor: pointer;

    &::after,
    &::before {
      @include pseudo();
      left: 0;
      top: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
    }

    &::after {
      top: auto;
      bottom: 0;
    }

    &:hover {
      transform: scale(1.08);
    }

    span {
      position: absolute;
      left: 0;
      top: 50%;
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: #000;
      transform: translateY(-50%);
    }
    @include mq("768") {
      display: block;
    }
  }
}

.dropdown-submenu {
  display: flex;
  align-items: initial;
  @include mq("768") {
    display: none;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 18px;
    color: $title-color;
    @extend %r700;
  }

  &__list {
    padding: 0;
  }

  &-list__item {
    margin-bottom: 10px;

    a {
      border-bottom: 1px solid transparent;
      color: $default-color;
      transition: border-color 0.4s;

      &:hover {
        border-color: $title-color;
      }
    }
  }

  &__item {
    flex-grow: 1;
    padding: 0 30px;
    min-width: 200px;

    &:not(:last-child) {
      border-right: 1px solid #bfbfbf;
    }
  }
}

.dropdown-list {
  min-width: 300px;

  &__item {
    margin-bottom: 10px;
  }

  &__link {
    border-bottom: 1px solid transparent;
    color: $default-color;
    transition: border-color 0.4s;

    &:hover {
      border-color: $title-color;
    }
  }
}
