.price {
  margin: 60px 0;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

    &--bg {
      @include bg($position: left center, $size: 50%);
      min-height: 600px;
      @include mq("768") {
        background-size: cover;
      }
    }
  }

  &__text {
    padding-right: 25px;
    max-width: 50%;
    font-size: 16px;
    letter-spacing: 2px;
    @include mq("768") {
      margin: 35px auto;
      padding: 20px;
      min-width: 90%;
      background-color: $bg-color;
      opacity: 0.9;
    }

    p {
      @include txt(22);
    }

    &::first-letter {
      margin-right: 2px;
      font-weight: 700;
      font-size: 17px;
      color: $accent-color;
    }

    &--right {
      margin-left: auto;
      padding-left: 25px;
    }
  }

  &__video {
    min-width: 50%;
    @include mq("768") {
      margin: 0 auto;
      min-width: 90%;
    }
  }
}
