footer.footer
  .container
    a.logo.logo--footer(href="#")
      svg.logo__img.logo__img--footer
        use(xlink:href="images/dest/sprite.svg#skull")

    ul.footer__social
      li.footer__item
        a.footer__link(href="#") FACEBOOK
      li.footer__item
        a.footer__link(href="#") INSTAGRAM
      li.footer__item
        a.footer__link(href="#") TWITTER
      li.footer__item
        a.footer__link(href="#") PINTEREST
      li.footer__item
        a.footer__link(href="#") DRIBBLE

    address.footer__address
      span.footer__text Украина, Харьков ул. Тобольская, 12a
      a.footer__tel(href="tel:+3806765252222") (38067) 65 252 222
      a.footer__mail(href="mailto:info@mail.com") info@mail.com
    
    .footer__bottom
      span @2021 Чернила